main {
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

label {
    margin-right: 10px;
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ededed;
    color: #000;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #dedede;
}

#color-block {
    width: 600px;
    height: 200px;
    margin: auto;
}